
# See Dockerfile for full list

DATABASE_URL=postgres://postgres:@docker.for.mac.host.internal/faqaas?sslmode=disable
JWT_KEY=secret
HTTP_ALLOWED=true
ADMIN_PASSWORD=$2a$12$AfzzMbT65vzPrF0DegdrZO39rHe.aABxMM6GQfKihkv4xh/YW.RKm
API_KEY=deadbeef
