#!/bin/bash
set -euxo pipefail

export DATABASE_URL=postgres://postgres:@localhost/faqaas?sslmode=disable
export PORT=8080
export SUPPORTED_LOCALES=en,de,fr,es,it,nl,pt,pt-BR,da,sv,no,ru,ar,zh
export JWT_KEY=secret # openssl rand -hex 32
export ADMIN_PASSWORD='$2a$12$AfzzMbT65vzPrF0DegdrZO39rHe.aABxMM6GQfKihkv4xh/YW.RKm' # secret
export HTTP_ALLOWED=false
export API_KEY=deadbeef

go run admin/main.go
