{{ define "content" }}
    <p>
      <a class="btn btn-primary" href="/admin/faqs/new" role="button">New FAQ...</a>
    </p>

    <div class="container">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">FAQ</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{range .FAQs}}
          <tr>
            <td>{{.ID}}</td>
            <td>{{.TextInDefaultLocale.Question }}</td>
            <td><a class="btn btn-outline-secondary" href="/admin/faqs/edit/{{.ID}}" role="button">Edit</a></td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </div>
{{ end }}
