{{ define "content" }}
  <div class="container">

    <h2>{{.DefaultLocale.NameEnglish}}</h2>
    <form action="/admin/faqs/create" method="post">
      <input type="hidden" name="localeCode" value="{{.DefaultLocale.Code}}">
      <div class="form-group">
        <label for="question">Question</label>
        <input type="text" class="form-control" name="question" value="" placeholder="Question">
      </div>
      <div class="form-group">
        <label for="answer">Answer</label>
        <textarea class="form-control" name="answer" rows="10" placeholder="Lorem Ipsum....."></textarea>
      </div>
      <button type="submit" class="btn btn-primary mb-2">Save</button>
    </form>


  </div>
{{ end }}