{{ define "content" }}
<div class="container">
      <table class="table table-striped mx-auto">
        <thead>
          <tr>
            <th scope="col">Code</th>
            <th scope="col">Language</th>
          </tr>
        </thead>
        <tbody>
          {{range .Locales}}
          <tr>
            <td>{{.Code}}</td>
            <td>
              {{.NameEnglish}} ({{.NameLocal}})
              {{if .IsDefaultLocale}}<span class="badge badge-pill badge-primary">default</span>{{end}}
            </td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </div>
{{ end }}
